########################
# Maven (build)
########################
/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/pom.xml.next
/release.properties

########################
# Logs & temporários
########################
/logs/
/tmp/
/temp/
*.log
*.tmp
*.swp
*.swo

########################
# Eclipse
########################
.classpath
.project
.settings/
.factorypath
.codetogether.ignore
.tern-project

########################
# IntelliJ IDEA
########################
.idea/
*.iml
*.iws
/out/

########################
# VS Code
########################
.vscode/

########################
# Sistema operacional
########################
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

########################
# Coisas antigas
########################
.gitold/
